In [3]:
#3.4
users = ['joe', 'sue', 'hani', 'sophie']
id = input('Login: ')
if id in users:
    print('You are in!')
else:
    print('User unknown.')
print('Done.')

Login: saboor
User unknown.
Done.

In [8]:
#3.5
wordList=["Saboor","Mujeeb","Mark","abdullah","Boby",]
for word in wordList:
    if len(word) == 4:
        print(word)

Mark
Boby

In [10]:
#3.6
for i in range(10):
    print(i)

for i in range(2):
    print(i)

0
1
2
3
4
5
6
7
8
9
0
1

In [12]:
#3.7
for i in range(3, 13):
    print(i)
for i in range(0, 10, 2):
    print(i)
for i in range(0, 24, 3):
    print(i)
for i in range(3,12, 5):
    print(i)

3
4
5
6
7
8
9
10
11
12
0
2
4
6
8
0
3
6
9
12
15
18
21
3
8

In [20]:
#3.8
from math import pi
def perimeter(radius):
    return (2 * pi * radius)
print("Periperimeter is: ",perimeter(3),"cm")

Periperimeter is:  18.84955592153876 cm

In [22]:
#3.9
def average(x, y):
    return ((x + y) / 2)
print("The average is: ",average(4,8))

The average is:  6.0

In [106]:
#3.10
def noVowel(s):
    for c in s:
        if c in 'aeiouAEIOU':
            return(False)
        else:
            return(True)
noVowel('xyz')

True

In [92]:
#3.11
def allEven():
    numList=(2,4,6,8)
    for num in numList:
        if num%2 != 0:
            return(False)
        else:
            return(True)   
allEven()

True

In [96]:
#3.12
def negatives():
    lst=[1,-1,-2,3,5]
    for i in lst:
        if i < 0:
            print(i)
negatives()

-1
-2

In [114]:
#3.15
team = ['Ava', 'Eleanor', 'Clare', 'Sarah']
team[0], team[-1] = team[-1], team[0]
print(team)

['Sarah', 'Eleanor', 'Clare', 'Ava']

In [122]:
#3.16
def swapFL():
    ingredients = ['flour', 'sugar', 'butter', 'apples']
    print("Orignal list: ",ingredients)
    ingredients[0],ingredients[-1]=ingredients[-1],ingredients[0]
    print("Swapped list: ",ingredients)
swapFL()

Orignal list:  ['flour', 'sugar', 'butter', 'apples']
Swapped list:  ['apples', 'sugar', 'butter', 'flour']

In [138]:
#3.1
f=int(input("Enter the temp in fahrenheit: "))
celsius =5/9*(f-32)
print("The temp in celsius is: ",celsius)

Enter the temp in fahrenheit: 60
The temp in celsius is:  15.555555555555557

In [4]:
#3.2
age=int(input("Enter the age: "))
if age>62:
    print ('You can get your pension benefits')

name=str(input("Enter the name: "))
lst=['Musial', 'Aaraon', 'Williams', 'Gehrig', 'Ruth']
if name in lst:
    print ('One of the top 5 baseball players, ever!')
hit=int(input("Enter the value of hit: "))
sheild=int(input("Enter the value of sheild: "))
if hit>10 and sheild==0:
    print ('You are dead...')

Enter the age: 80
You can get your pension benefits
Enter the name: Ruth
One of the top 5 baseball players, ever!
Enter the value of hit: 11
Enter the value of sheild: 0
You are dead...

In [8]:
#3.3
year=2018
if year//4:
    print('Could be a leap year.')
else:
    print('Definitely not a leap year.')

lottery=[99]
ticket=[23]
if ticket==lottery:
    print ('You won!')
else:
    print ('Better luck next time...')

Could be a leap year.
Better luck next time...

In [10]:
#3.17
a=eval(input("Enter value of a: "))
b=eval(input("Enter value of b: "))
c=eval(input("Enter a value: "))
d=a*b+c
print(d)
print()
x=eval(input("Enter word 1: "))
y=eval(input("Enter word 2: "))
z=x+" "+y
print(z)
#Because Hello is a string
print()

Enter value of a: 2
Enter value of b: 3
Enter a value: 1
7

Enter word 1: hello

NameError: name 'hello' is not defined

In [18]:
a='ASCII'
b=a.count('I')
print(b)
#We cant use eval function for a string

x=eval('5')
print(x)

2
5

In [45]:
#3.18
a, b, c = 3, 4, 5
if a<b:
    print("a) OK")
if c<b:
    print("b) OK") 
if a+b==c:
    print("c) OK")
if a**2+b**2==c**2:
    print("d) OK")

a) OK
d) OK

In [46]:
#3.19
a, b, c = 3, 4, 5
if a<b:
    print("a) OK")
else:
    print("a) NOT OK")
if c<b:
    print("b) OK") 
else:
    print("b) NOT OK")
if a+b==c:
    print("c) OK")
else:
    print("c) NOT OK")
if a**2+b**2==c**2:
    print("d) OK") 
else:
    print("d) NOT OK")

a) OK
b) NOT OK
c) NOT OK
d) OK

In [42]:
#3.20
lst=['January', 'February', 'March']
for i in lst:
    print(i[:3])

Jan
Feb
Mar

In [51]:
#3.21
lst=[2, 3, 4, 5, 6, 7, 8, 9]
for i in lst:
    if i%2==0:
        print(i)

2
4
6
8

In [57]:
#3.22
lst=[2, 3, 4, 5, 6, 7, 8, 9]
for i in lst:
    if i**2%8==0:
        print(i)

4
8

In [84]:
#3.23
for i in range(2):
    print(i, end=" ")
print()    
for i in range(1):
    print(i, end=" ")   
print() 
for i in range(3,7):
    print(i, end=" ")   
print()
for i in range(1,2):
    print(i, end=" ")   
print()
for i in range(0,4,3):
    print(i, end=" ")   
print()
for i in range(5,22,4):
    print(i, end=" ")  
print()

0 1
0
3 4 5 6
1
0 3
5 9 13 17 21

In [19]:
#3.24

wordlst=input("Enter the words: ").split()
for i in wordlst:
    if i!='secret':
        print(i)

Enter the words: mi6 secret isi gavin
mi6
isi
gavin

In [21]:
#3.25
namelst=input("Enter names: ").split()
for i in namelst:
    alphabets=['A','B','C','D','E','F','G','H','I','J','K','L','M']
    if i[0] in alphabets:
        print(i)

Enter names: Ellie Steve Sam Owen Gavin
Ellie
Gavin

In [25]:
#3.26
numbers=input("Enter a list: ").split()
print("The first element is: ",numbers[0])
print("The last element is: ",numbers[-1])

Enter a list:  3 5 7 9
The first element is:  3
The last element is:  9

In [42]:
#3.27
n=int(input("Enter the positive integer: "))
for i in range(4):
    print(n*i)

Enter the positive integer: 5
0
5
10
15

In [46]:
#3.28
n=int(input("Enter integer: "))
for i in range(0,n):
    print(i**2)

Enter integer: 3
0
1
4

In [48]:
#3.29
n=int(input("Enter an integer:"))
for i in range(1,n+1):
    if(n%i==0):
        print(i)

Enter an integer:49
1
7
49

In [14]:
#3.30
a=float(input("Enter first number: "))
b=float(input("Enter second number: "))
c=float(input("Enter third number: "))
d=float(input("Enter last number: "))
if (a+b+c)/3==d:
    print("Equal")

Enter first number: 4.5
Enter second number: 3
Enter third number: 3
Enter last number: 3.5
Equal

In [10]:
#3.31
r=8
a=0
b=0
x=eval(input("Enter the x-coordinate: "))
y=eval(input("Enter the y-coordinate: "))
point=(x-a)**2 + (y-b)**2
if point<8:
    print("It is in")

Enter the x-coordinate: 2.5
Enter the y-coordinate: 4

In [13]:
#3.32
x=input("Enter n: ")
x.split()
for i in x:
    print(i)

Enter n: 1234
1
2
3
4

In [8]:
#3.33
def reverse_string(n):
    return n[::-1]

reverse_string('dna')

'and'

In [27]:
#3.34
def pay(hr_wage,tot_hrs):
    x=hr_wage*tot_hrs
    if tot_hrs>=40:
        y=x*1.5
        print("Emplyees wage 1.5 times is: ",y)
    else:
        print("Emplyees wage is: ",x)
pay(10,45)

Emplyees wage 1.5 times is:  675.0

In [24]:
#3.35
def prob(n):
    x=1/2**n
    return(x)
print("The probality of getting heads n times is: ",prob(6))

The probality of getting heads n times is:  0.015625

In [19]:
#3.36
def reverse_int(x):
    return x[::-1]
reverse_int('123')

'321'

In [21]:
#3.38
def abbreviation(x):
    y=x[0:2]
    return(y)
abbreviation('Tuesday')

'Tu'

In [32]:
#3.39
from math import sqrt
def collision(x1,y1,r1,x2,y2,r2):
    center_dis=sqrt((x1-x2)**2 +(y1-y2)**2)
    if center_dis <=r1+r2:
        return True
    else:
        return False
collision(0, 0, 3, 0, 5, 3)

True

In [35]:
#3.40
def partition():
    alphabets=['A','B','C','D','E','F','G','H','I','J','K','L','M']
    x=input('Enter the list of names: ')
    y=x.split()
    for i in y:
        if i[0] in alphabets:
            print(i)
partition()

Enter the list of names: Eleanor Evelyn Sammy Owen Gavin
Eleanor
Evelyn
Gavin

In [41]:
#3.41
def lastF(F_name,L_name):
    x=F_name+' '+L_name[0]+'.'
    return (x)
lastF('Abdul','Saboor')

'Abdul S.'

In [46]:
#3.43
def hit(x_c,y_c,r_C,x_p,y_p):
    x=(x_p-x_c)**2 + (y_p-y_c)**2
    y=r_C**2
    if (x/y)<=r_C:
        return True
    else:
        return False
hit(0, 0, 3, 3, 0)

True

In [55]:
def distance(t):
    x=(340.29)*t
    return(x) 
print("The distance is: ",distance(3/1000),"km")

The distance is:  1.0208700000000002 km