# Lecture 5-6 Ex 2.1 to 2.31 UNSOLVED

# Ex 2.1

In [23]:
# Do practice problem 2.1 to 2.10, you can telly your answers at the end of the chapter.

# part (a) The Sum of Five Positive Integer

a = [1,2,3,4,5]
print("The Sum of 5 positive Integer is: ",sum(a))
print()

# part (b) The average age of Sara (age23),Mark (age19),and Fatima(age31) 

Sara_age = 23
Mark_age = 19
Fatima_Age = 31
average_Formula = (Sara_age+Mark_age+Fatima_Age)/3
print("The average age is: " ,average_Formula)
print()

#part (c) The number of times 73 goes into 403

Value1 = 73
Value2 = 403
division = 403//73
print("The number of times 73 goes into 403 is: " ,division)
print()

# part(d)  The remainder when 403 is divided by 73

Value1 = 403
Value2 = 73
Remainder = 403%73
print("The Remainder when 403 is divided by 73 is: " ,Remainder)
print()

# part (e) 2 to the 10th power

a = 2
power = 2**10
print ("The 2 to the 10th Power is : ", (power))
print()

# Part (f)  The absolute value of the diﬀerence between Sara’s height (54 inches) and Mark’s height(57inches) 

Sara_height = 54 
Marks_height = 57 
diff = (Sara_height-Marks_height)
print("The Absolute value of the difference between Sara's height and Mark's Height is: " ,abs(diff) ,"inches")
print()

# Part (g) The lowest price among the following prices:$34.99,$29.95,and$31.50

Price_list=[34.99,29.95,31.50]
print("The Lowest price is: ",min(Price_list),'$')

The Sum of 5 positive Integer is:  15

The average age is:  24.333333333333332

The number of times 73 goes into 403 is:  5

The Remainder when 403 is divided by 73 is:  38

The 2 to the 10th Power is :  1024

The Absolute value of the difference between Sara's height and Mark's Height is:  3 inches

The Lowest price is:  29.95 $

# Ex 2.2

In [30]:
# Question no 1:
#The sum of 2 and 2 is less than 4.
x = 2
y = x + x
print (y<4)

# Question no 2: The value of 7 // 3 is equal to 1 + 1.
x = 7
y = 3
z = 7 // 3
print(7//3==1+1)

# Question no 3: The sum of 2, 4, and 6 is greater than 12.
x = 2
y = 4
z = x+y+z
print(z>12)

# Question no 4: The sum of 3 squared and 4 squared is equal to 25.
a = 3**2
b = 4**2
c = a + b
print(c==25)

# Question No 5: 1387 is divisible by 19.
x = 1387
y = 19
z = x%y
print(z==0)

# Question no 6: 31 is even. (Hint: what does the remainder when you divide by 2 tell you?)
x = 31
y = 2
z = x%y
print(z==0)

# Question no 7: The lowest price among $34.99, $29.95, and $31.50 is less than $30.00
x = 34.99
y = 29.95
z = 31.50
print(a<30.00 or b<30.00 or c<30 )

False
True
False
True
True
False
True

# Ex 2.3

In [24]:
# Question No 1: Assign integer value 3 to variable a.
a = 3
b = 4
c = a * a + b * b
print (c)

25

# Ex 2.4

In [138]:
# Question no 1
s1='ant'
s2='bat'
s3='cod'

#Part (a)
a=s1+' '+s2+' '+s3
print(a)

#part (b)
print ((s1+' ')*8)

#Part (c)
b=s1+' '+ ((s2+' ')*2)+' '+((s3 + ' ')*3)
print(b)
       
#Part (d)
d=((s1+' '+s2)+' ')*7
print(d)

#Part (e)
e=((s2*2)+s3+' ')*3
print(e)

ant bat cod
ant ant ant ant ant ant ant ant
ant bat bat  cod cod cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod

# Ex 2.5

In [147]:
# Question no 1
a = ('0123456789')

#Part(a)
print(a[0])
#Part(b)
print(a[1])
#part (c)
print(a[6])
#Part(d)
print(a[8])
#Part (e)
print(a[9])

0
1
6
8
9

# Ex 2.6

In [155]:
# Question 1
words = ['bat', 'ball', 'barn', 'basket', 'badminton']
x= min(words)
y= max(words)
print(x,y)

badminton bat

# Ex 2.7

In [170]:
# Question No 1:
# Part(a)
grades = [9, 7, 7, 10, 3, 9, 6, 6, 2]
x=grades.count(7)
print(x)

# Part (b)
grades[-1]=4
print(grades)

# Part(C)
x=(max(grades))
print(x)

# Part (d)
grades.sort()
print(grades)

# Part(e)
average = sum(grades)/len(grades)
print(average)

2
[9, 7, 7, 10, 3, 9, 6, 6, 4]
10
[3, 4, 6, 6, 7, 7, 9, 9, 10]
6.777777777777778

# Ex 2.8

In [186]:
print ('x)','((2 + 3 == 4) or (a >= 5)')
print ('y)','lst[1] * -3 < -10 == 0')
print ('z)','(lst[1] * -3 < -10) in [0, True])')
print ('a)','2 * 3**2')
print ('b)','4 / 2 in [1, 2, 3]')

x) ((2 + 3 == 4) or (a >= 5)
y) lst[1] * -3 < -10 == 0
z) (lst[1] * -3 < -10) in [0, True])
a) 2 * 3**2
b) 4 / 2 in [1, 2, 3]

# Ex 2.9

In [187]:
print ('x)',False + False,",Which is int value")
print ('y)',2 * 3**2.0,",Which is float")
print ('z)',4 // 2 + 4 % 2,",Which is integer")
print ('a)',4 // 2 + 4 % 2,",Which is bool value")

x) 0 ,Which is int value
y) 18.0 ,Which is float
z) 2 ,Which is integer
a) 2 ,Which is bool value

# Ex 2.10

In [1]:
# Question No 2: Write Python expressions corresponding to the following:

# Part(a) The length of the hypotenuse in a right triangle whose other two sides have lengths a and b 

from math import sqrt
print("Input lengths of Right triangle sides:")
a = float(input("a: "))
b = float(input("b: "))

c = sqrt(a**2 + b**2)
print("The length of the hypotenuse is: ", c ,'meter')
print()

# Part (b)  The value of the expression that evaluates whether the length of the above hypotenuse is 5 

from math import pi
r = int(input("Enter the value of r: "))
area = (pi)*(r**2)
print ("The Value of the expression that evaluates whether the length of the above hypotenuse is 5: ",area ,'m.sq')
print()

# Part (c)   The area of a disk of radius a

from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2) ,'m.sq')
print()

# Part(d) The value of the Boolean expression that checks whether a point with coordinates
# x andyisinsideacirclewithcenter (a,b) and radius r

r = 15
a = 0
b = 0
x = int(input("Enter the value of x cordinate point is : "))
y = int(input("Enter the value of y cordinate point is : "))
formula = (x-a)**2+(y-0)**2
print(bool(formula<r**2))

Input lengths of Right triangle sides:
a: 2
b: 3
The length of the hypotenuse is:  3.605551275463989 meter

Enter the value of r: 5
The Value of the expression that evaluates whether the length of the above hypotenuse is 5:  78.53981633974483 m.sq

Input the radius of the circle : 6
The area of the circle with radius 6.0 is: 113.09733552923255 m.sq

Enter the value of x cordinate point is : 8
Enter the value of y cordinate point is : 9
True

# Ex 2.11

In [19]:
# part (a)
lst =[-1,-2,-3,-4,-5,-6,-7]
# part (b)
print('a)',sum(lst))
# part (c)
print('b)',((17*9)+(24*10)+(21*11)+(27*12))/(17+24+21+27))
# part (d)
print('c)',2**(-20))
#part (e)
print('d)',4356//61)
#part (f)
print('e)',4356%61)

a) -28
b) 10.651685393258427
c) 9.5367431640625e-07
d) 71
e) 25

# Ex 2.12

In [34]:
s1 = '-'
s2 = '+'
print('a)',s1+s2)
print('b)',s1+s2+s1)
print('c)',s2+(s1*2))
print('d)',(s2+(s1*2))*2)
print('e)',(s2+(s1*2))*10+s2)
print('f)',((s2+s1)+(s2*3)+(s1*2))*5)

a) -+
b) -+-
c) +--
d) +--+--
e) +--+--+--+--+--+--+--+--+--+--+
f) +-+++--+-+++--+-+++--+-+++--+-+++--

# Ex 2.13

In [40]:
s = 'abcdefghijklmnopqrstuvwxyz'
print(s[0])
print(s[2])
print(s[-1])
print(s[-3])
print(s[16])

a
c
z
x
q

# Ex 2.14

In [41]:
#part (a)
print('a)',s[0]=='g')
# part(b)
print('b)',s[6]=='g')
# part (c)
print('c)',s[0]=='g' and s[1]=='a')
# part (d)
print('d)',s[-2]=='x')
#part (e)
print('e)',s[3]=='d')
# part (f)
print('f)',s[1]==s[-1])
#part (g)
print('g)',(s[-4]+s[-3]+s[-2]+s[-1])=='tion')

a) False
b) True
c) False
d) False
e) True
f) False
g) False

# Ex 2.15

In [36]:
 # Coreesponding to these statement

# part (A)
chars="floccinaucinihilipilification"
find="e"
if find in chars:
              print("found")
else:
              print("not found")
print()

# part(b)
summ=len("counterrevolution")
first=len("counter")
second=len("resolution")
tsum=first+second

if summ == tsum:
                print("Yes they are equal")
else:
                print("Not equal")  
print()

# part (c)
first=len("anachronistically")
second=len("counterintuitive")

if first > second:
    print("anachronistically")
else:
        print("counterintuitive")
print()

# part (d)
a= "misrepresentation"
b= "misinterpretaiton" 
lst = [b , a]
lst.sort ()
print ("This is how dictionary have these words" , lst)
print()

not found

Yes they are equal

anachronistically

This is how dictionary have these words ['misinterpretaiton', 'misrepresentation']

# Ex 2.16

In [1]:
a=6
b=7
c=(a+b)/2
inventory=['papers','staples','pencils']
fullname='John Fitzgerald Kennedy'
print('a)',17+(-9)<10)
print('b)',len(inventory)-len(fullname)>5)
print('c)',c<=24)

a) True
b) False
c) True

# Ex 2.17

In [23]:
a=6
b=7
c=(a+b)/2
inventory=['papers','staples','pencils']
first='John ' 
middle='Fitzgerald ' 
last='Kennedy '
fullname='John Fitzgerald Kennedy'
print('a)',17+(-9)<10)
print('b)',len(inventory)-len(fullname)>5)
print('b)',c>=24)
print('d)',6.75 >a and 6.75<b)
print('e)',len(middle)>len(first) and len(middle)<len(last))
print('f)',len(inventory)==0 or len(inventory)>10)

a) True
b) False
b) False
d) True
e) False
f) False

# Ex 2.18

In [22]:
flower = ['rose', 'bougainvilea','yucca', 'marlgold','daylilly','lilly of the valley']
print('a)',flower)
print()
print('b)','potato' in flower)
print()
thorny = flower[:3]
print('c)', thorny) 
print()
poisnous = flower[-1]
print('d)', poisnous)

a) ['rose', 'bougainvilea', 'yucca', 'marlgold', 'daylilly', 'lilly of the valley']

b) False

c) ['rose', 'bougainvilea', 'yucca']

d) lilly of the valley

# Ex 2.19

In [29]:
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N']
numYes=answers.count('Y')
print('a)',numYes)
print('b)',answers.count('N'))
percentYes=(numYes/len(answers)*100)
print('c)',percentYes,'%')
answers.sort()
print('d)',answers)
f=answers.count('N')
print('a) at',f,answers[f],'will occur for the first time.')

a) 5
b) 6
c) 45.45454545454545 %
d) ['N', 'N', 'N', 'N', 'N', 'N', 'Y', 'Y', 'Y', 'Y', 'Y']
a) at 6 Y will occur for the first time.

# Ex 2.20

In [2]:
s = 'pot'
print(s[::-1])

top

# Ex 2.21

In [2]:
s = 'Mujeeb'
z = 'Sheikh'
print(s[0]+z[0])

MS

# Ex 2.22

In [4]:
lst = [3, 7, -2, 12]
print(max(lst)-min(lst))

14

# Ex 2.23

In [24]:
# Inserting the months 
monthsl = ["jan", "feb", "march", "may"]
monthst = ["jan", "feb", "march", "may"]
monthsl.insert (3, "apr")
print (monthsl)
print()
monthsl = ["jan", "feb", "march", "may"]
monthst = ["jan", "feb", "march", "may"]
monthsl.append ( "Jan")
print (monthsl)
print()
monthsl = ['jan', 'feb', 'march', 'may']
monthsl.sort (reverse = True)
print (monthsl)
print()
monthsl = ['jan', 'feb', 'march', 'may']
monthsl.sort (reverse = False)
print (monthsl)
print()
monthsl = ['jan', 'feb', 'march', 'may']
monthsl.remove ("feb")
print (monthsl)

['jan', 'feb', 'march', 'apr', 'may']

['jan', 'feb', 'march', 'may', 'Jan']

['may', 'march', 'jan', 'feb']

['feb', 'jan', 'march', 'may']

['jan', 'march', 'may']

# Ex 2.24

In [27]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']
count = [grades.count('A'),grades.count('B'),grades.count('C'),grades.count('D'),grades.count('F')]
print(count)

[4, 4, 2, 2, 1]

# Ex 2.25

In [37]:

grades = ('B','B','F','C','B','A','A','D','C','D','A','A','B')
count = [grades.count('A'),grades.count('B'),grades.count('C'),grades.count('D'),grades.count('F')]
print(count)

[4, 4, 2, 2, 1]

# Ex 2.26

In [38]:


from math import *
r=10
X=0
Y=0
a=sqrt((0-0)**2+(0-0)**2)
b=sqrt((10-0)**2+(10-0)**2)
c=sqrt((6-0)**2+(6-0)**2)
d=sqrt((7-0)**2+(8-0)**2)
print(a<r)
print(b<r)
print(c<r)
print(d<r)

True
False
True
False

# Ex 2.27

In [3]:
# part (a)

from math import *
def main():
    height = eval(input("Please enter the height of the ladder "))
    deg = eval(input("Please enter the angle of the ladder in degrees "))
    rad = (pi/180) * deg
    leng = height/(sin(rad))
    print("The length of the ladder must be ", leng,'m')
main()
print()

# part (b)

def main():
    height = eval(input("Please enter the height of the ladder "))
    deg = eval(input("Please enter the angle of the ladder in degrees "))
    rad = (pi/180) * deg
    leng = height/(sin(rad))
    print("The length of the ladder must be ", leng,'m')
main()
print()

# part(c)

length_feet = int(input("Please enter the length of the ladder: "))
deg_rad = int(input("Please enter the angle of the ladder in degrees: "))
rad = (pi/180) * deg_rad
height = length_feet * (sin(rad))
print("The height of the ladder must be ", height,'m')
print()

#part(d)

def main():
    height = eval(input("Please enter the height of the ladder "))
    deg = eval(input("Please enter the angle of the ladder in degrees "))
    rad = (pi/180) * deg
    leng = height/(sin(rad))
    print("The length of the ladder must be ", leng,'m')
main()

Please enter the height of the ladder 2
Please enter the angle of the ladder in degrees 6
The length of the ladder must be  19.13354446701125 m

Please enter the height of the ladder 7
Please enter the angle of the ladder in degrees 8
The length of the ladder must be  50.297075740294034 m

Please enter the length of the ladder: 12
Please enter the angle of the ladder in degrees: 64
The height of the ladder must be  10.785528555590005 m

Please enter the height of the ladder 20
Please enter the angle of the ladder in degrees 5
The length of the ladder must be  229.47426491339712 m

# Ex 2.28

In [43]:
# part(a)
lst = [2, 4, 6, 9, 8, 10, 5]
b = lst.index (9)
print (b)
print()

#part(b)
lst = [1, 2, 3, 8, 5]
b = lst [2]
print(b)
print()

#part(c)
lst = [6, 4, 8, 5]
b = lst[::-1]
print(b)
print()

#part(d)
lst = [7, 8, 9, 12]
lst.remove (7)
lst.append (7)
print (lst)

3

3

[5, 8, 4, 6]

[8, 9, 12, 7]

# Ex 2.29

In [45]:
print('a)',0 <= 1 or 1 == 2)
print('b)',2 + 3 >= 4 or 5 >= 7)
print('c)',1 > -1 or 3 > 4)

a) True
b) True
c) True

# Ex 2.30

In [4]:
#2.30
s='Mujeeb Sheikh'
s=list(s)
print(s)

['M', 'u', 'j', 'e', 'e', 'b', ' ', 'S', 'h', 'e', 'i', 'k', 'h']

# Ex 2.31

In [6]:
lst = [2, 3, 4]
lst.extend([5, 6])
lst

[2, 3, 4, 5, 6]

In [13]:
lst2 = lst.copy()
lst

[2, 3, 4, 5, 6]

In [14]:
lst.clear()
lst

[]

In [15]:
lst2
[2, 3, 4, 5, 6]

[2, 3, 4, 5, 6]